@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

body{
    height: 100vh;
    background-image: url(https://images.hdqwalls.com/wallpapers/minimalist-landscape-to.jpg);
    background-position: center;
    background-size: cover;
}
.item{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 10px;
}
h1{
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.416);
}
.navbar{
    display: flex;
    justify-content: center;
}
.input-group{
    margin-top: -12px;
}